body {
  background: #050b2b;
  background: linear-gradient(45deg, #050b2b, #161640, #050b2b, #161640);
  background-size: 400% 400%;
  -webkit-animation: gradient 9s linear infinite;
          animation: gradient 9s linear infinite;
  height: 100vh;
  color: #fff;
  font-family: "Comfortaa", serif;
  text-align: center;
  padding: 0 4%;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 15% 100%;
  }
}

@keyframes gradient {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 15% 100%;
  }
}
.wrapper {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  padding: 2rem 0;
}

#teaser {
  margin: auto;
  max-width: 800px;
  -webkit-animation: 1s linear forwards reveal;
          animation: 1s linear forwards reveal;
}

@-webkit-keyframes reveal {
  from {
    filter: blur(5px);
  }
  to {
    filter: blur(0px);
  }
}

@keyframes reveal {
  from {
    filter: blur(5px);
  }
  to {
    filter: blur(0px);
  }
}
h1 {
  font-size: 3rem;
  letter-spacing: 0.2em;
}

p {
  margin: 4.5rem 0 0;
  font-size: 1.05rem;
}

#author {
  color: #008dd3;
  margin-left: 10px;
}

svg {
  width: 210px;
  height: 210px;
  margin: auto;
  -webkit-animation: 120s rotate linear infinite;
          animation: 120s rotate linear infinite;
}

circle {
  cx: 120px;
  cy: 120px;
  stroke: #008dd3;
  stroke-linecap: round;
  fill: transparent;
  -webkit-animation: 2s circle ease 1;
          animation: 2s circle ease 1;
}

.circle-1 {
  stroke: #007fbe;
}

.circle-2 {
  stroke: #38b6f5;
  -webkit-animation: 3s circle-color infinite alternate;
          animation: 3s circle-color infinite alternate;
}

.circle-3 {
  stroke: #2ea9e6;
}

.circle-5 {
  stroke: #007fbe;
}

.circle-6 {
  stroke: #0078b3;
}

@-webkit-keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes circle {
  from {
    stroke-dashoffset: 0;
  }
}
@keyframes circle {
  from {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes circle-color {
  20% {
    stroke: #a5cde1;
  }
  100% {
    stroke: #a5cde1;
  }
}
@keyframes circle-color {
  20% {
    stroke: #a5cde1;
  }
  100% {
    stroke: #a5cde1;
  }
}